.containerInnerTerminal {
  width: calc(100%-0.1em);
  position: relative;
  background-color: #242424;
  /* padding: 1em; */
  overflow-y: auto;
  position: relative;
  border: 0.1em solid #242424;
  border-top: transparent;
  /* width: 90vw; */
  height: 85vh;
  scrollbar-color: #42474e #1a1919;
  scrollbar-width: thin;
}

.containerInnerTerminal::-webkit-scrollbar {
  width: 0.5em;
}

.containerInnerTerminal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #1a1919;
}

.containerInnerTerminal::-webkit-scrollbar-thumb {
  background-color: #42474e;
  outline: 1px solid #1a1919;
}
