.block {
  display: block;
}

@media screen and (max-width: 460px) {
  .abs {
    position: absolute;

    /* color: red; */
  }

  .flex {
    display: flex;
    flex-wrap: nowrap;
  }
  /* .promptUser {
    display: block;
  } */
}
