.cursorStatic {
  color: #45bd32cb;
}
.cursorBlink {
  animation: blink 1s linear infinite;
}

.moveCursor {
  color: transparent;
  position: absolute;
  display: inline;
}
.hideCursor {
  display: none;
}
/* .abs {
  position: absolute;
  color: red;
} */

@keyframes blink {
  1%,
  50% {
    opacity: 1;
  }
  60%,
  99% {
    opacity: 0;
  }
}
